<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gjdt.modules.manager.dao.DepartmentMapper">
    <resultMap id="DepartmentResultMap" type="com.gjdt.modules.entity.Department">

        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="department_name" jdbcType="VARCHAR" property="department_name"/>
    </resultMap>
    <select id="selectDepartment" resultMap="DepartmentResultMap">
        select id,department_name from department
    </select>

</mapper>